body
{
	padding: 0;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  min-width: 400px;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

:root
{
  --bg-color: white;
  --fg-color: black;
  --box-color: whitesmoke;
  --border-box-color: #cfcfcf;
  --link-color: blue;
}

*
{
  transition: color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.wrapper
{
  margin-left: 400px;
  width: calc(100% - 300px - 100px - 50px);
}

.top-selector
{
  height: 70px;
  padding-left: 430px;
  line-height: 68px;
}

.phone-top
{
  padding: 10px 0;
}

.phone-top span
{
  line-height: 40px;
}

.phone-top .pfp
{
  float: right;
  height: 40px;
  border-radius: 40px;
}

.phone-top .menu
{
  margin-left: 20px;
  margin-top: 10px;
  float: right;
  height: 20px;
  cursor: pointer;
}

.top-selector .center
{
  overflow: hidden;
  margin: auto;
  width: 200px;
}

.top-selector .top-option
{
  float: left;
  width: 100px;
  text-align: center;
  border-bottom: 2px transparent solid;
}

.top-selector .top-option:hover
{
  border-bottom: 2px var(--fg-color) solid;
  cursor: pointer;
}

@media screen and (max-width: 900px)
{
  .top-selector
  {
    box-shadow: 1px 5px 10px #0000002d;
    padding-left: 0;
  }
}

.no-disp
{
  display: none;
}

.theme-toggle
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;
}

.theme-light
{
  transform: rotate(180deg);
}

@media screen and (max-width: 900px)
{
  .wrapper
  {
    margin: auto;
    width: 90%;
  }
  header
  {
    padding-top: 60px;
  }
  .no-disp-900
  {
    display: none;
  }
  .disp-900
  {
    display: block !important;
  }
}

.disp-900
{
  display: none;
}

@media screen and (min-width: 900px)
{  
  header
  {
    top: 0;
    left: 0;
    height: calc(100vh - 40px * 2);
    width: calc(350px - 40px * 2);
    padding: 40px;
    background-color: var(--bg-color);
    box-shadow: 1px 1px 10px #00000045;
    position: fixed;
    overflow-y: auto;
  }
}

#pfp-container
{
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

#pfp-container #pfp, #back
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  transition: transform 500ms ease-in-out;
}

#back
{
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: var(--box-color);
  border: 1px solid;
  border-color: var(--border-box-color);
}

#back span 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pfp
{
  backface-visibility: hidden;
  z-index: 10;
}

header h1
{
  font-size: 30px;
}
p 
{
  color: grey;
}

main
{
  padding-bottom: 500px;
}

a
{
  color: var(--link-color);
  text-decoration: underline;
}

.more-text-btn
{
  cursor: pointer;
}

.links
{
  cursor: pointer;
  width: 100%;
  list-style: none;
  margin: 0;
  margin-top: 30px;
  overflow: hidden;
  padding: 0;
}

.links li
{
  width: calc(100% / 4);
  float: left;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px transparent solid;
}

.placeholder
{
  margin: auto;
  width: 300px;
  text-align: center;
}

.placeholder img
{
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.links li:hover
{
  border-bottom: 2px var(--fg-color) solid;
}

@media screen and (max-width: 900px)
{
  .links img
  {
    height: 2.5em !important;
  }
}

.links img
{
  border-radius: 0;
  height: 1.5em;
  width: auto;
}

h2
{
  margin-top: 40px;
}

.collapse
{
  padding-top: 10px;
}

.collapse .face
{
  background-color: var(--box-color);
  border: 1px solid;
  border-color: var(--border-box-color);
  border-radius: 5px;
  padding: 10px;
}

.collapse .content
{
  margin-top: 20px;
  margin-left: 20px;
}

.collapse .face
{
  cursor: pointer;
}

.collapse .face .l
{
  z-index: 10;
  float: right;
}

.collapse .face a
{
  position: relative;
  float: right;
  padding-left: 10px;
}

.collapse .face img
{
  width: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.hidden
{
  display: none;
}

.popup
{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 10000;
}

.popup .content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: whitesmoke;
  border-radius: 5px;
}

.inactive
{
  pointer-events: none;
  opacity: 0;
}

.flip
{
  transform: rotateY(180deg);
}

@media screen and (max-width: 900px)
{
  .showoff-img-container
  { 
    height: 30vh !important;
  }
  .showoff
  {
    height: 30vh !important;
  }
}

.showoff-img-container
{ 
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.showoff-img-container img
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 5px;
}

.showoff
{
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  max-height: 50vh;
}

.download-section
{
  padding: 10px 0;
  height: 40px;
  width: 100%;
}

.download-section img 
{
  height: 100%;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.download-section a
{
  float: right;
}

.download-section span, .download-section a 
{
  line-height: 40px;
}